@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Visualizar Grafo";
}

<h1>Visualizar Grafo</h1>

<div id="graph-container" style="height: 600px; border: 1px solid #ddd;"></div>


<form action="/" method="post">
    
    <select>
    <option value="value"></option>
</select>    
</form>

@section Scripts {
    <link href="https://unpkg.com/vis-network/styles/vis-network.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <!-- site.js ya está referenciado desde el layout, pero lo incluimos aquí también para asegurar orden -->
    <script src="~/js/site.js" asp-append-version="true"></script>
}
