@page
@model Grafos.Pages.IndexModel
@{

	ViewData ["Title"] = "Home Page"; 

}


<h1>Grafos</h1>


<div id="graph-container">	</div>



@section Scripts{

	<link href="https://unpkg.com/vis-network/styles/vis-network.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

	<script src="~/js/site.js" asp-append-version="true"></script>
}
