@page
@model Grafos.Pages.PaisModel
@{
}


<h1>Countries</h1>


<form method="post">

	<div>
		<label>Nombre:</label>
		<input asp-for="NuevoPais.Nombre" />
	</div>
	
	<button type="submit">Submit</button>
</form>

